@import url("https://use.typekit.net/wnb0uei.css");
@import url("https://use.typekit.net/wnb0uei.css");
.copy, .copy-small, .copy-medium, .copy-large {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.copy-large {
  font-size: 20px;
}
.copy-medium {
  font-size: 18px;
}
.copy-small {
  font-size: 16px;
}

.font, .font-small, .font-medium, .font-large {
  font-family: "orpheuspro", serif;
  font-weight: 400;
  font-style: normal;
}
.font-large {
  font-size: 36px;
}
.font-medium {
  font-size: 22px;
}
.font-small {
  font-size: 18px;
}

.heading, .shop-cta, .heading-small, .heading-large {
  font-family: "brandon-grotesque", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.heading-large {
  font-size: 15px;
}
.heading-small {
  font-size: 12px;
}

.shop-cta {
  display: flex;
  width: 285px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background: #D23738;
  border-radius: 5px;
  color: white;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 14px;
}

.learn-cta {
  font-weight: 450;
  line-height: 9px;
  text-decoration-line: underline;
  letter-spacing: 0.12em;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.promo {
  width: inherit;
  height: 40px;
  color: white;
  background: #AE7008;
  padding-left: 10%;
  padding-right: 10%;
  position: sticky;
}
.promo-banner {
  display: flex;
  width: inherit;
  justify-content: space-between;
  height: inherit;
  align-items: center;
}
.promo-banner .heading-large {
  letter-spacing: 0.12em;
}
.promo-banner .timer {
  display: flex;
  gap: 5px;
}
.promo-banner .timer-element {
  height: 30px;
  width: 30px;
  background: white;
}

.fixed-top {
  width: inherit;
  height: auto;
  position: sticky;
  z-index: 99;
}

.nav {
  width: inherit;
  height: 45px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
.nav-left {
  display: flex;
  float: left;
  gap: 50px;
  margin-left: 10%;
}
.nav-right {
  display: flex;
  float: right;
  margin-right: 10%;
  gap: 50px;
  text-transform: uppercase;
  color: #6D7278;
}
.nav-right .copy, .nav-right .copy-large, .nav-right .copy-medium, .nav-right .copy-small {
  font-size: 12px;
  letter-spacing: 0.12em;
}
.nav img {
  height: 20px;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  display: flex;
  color: white;
  text-align: center;
}
.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 100%;
  height: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  gap: 32px;
  width: 50%;
  background: #24372C;
}
.hero-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  gap: 4px;
}
.hero-flourish {
  letter-spacing: 0.12em;
}
.hero-left {
  width: 50%;
  background: url(./assets/hero_tapes.png);
  background-size: cover;
  background-position: center;
  aspect-ratio: 4/3;
}
.hero-display {
  font-size: 68px;
}

.reviews {
  background: url(./assets/reviews.jpg);
  height: 270px;
  background-size: cover;
  background-position: right;
}
.reviews-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 50%;
  text-align: center;
  line-height: 22px;
}
.reviews-attributes {
  display: flex;
  letter-spacing: 0.12em;
  gap: 16px;
  margin-bottom: 32px;
}

.featured {
  height: 50px;
  background: #24372C;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}
.featured-wrapper {
  display: flex;
  gap: 64px;
  height: inherit;
  align-items: center;
  justify-content: center;
}
.featured-logo {
  height: 22px;
}

.shop {
  width: 100%;
  height: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.shop-wrapper {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  gap: 20px;
  margin-top: 32px;
}
.shop-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.shop-card-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 100%;
}
.shop-card-contents .top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.shop-card-contents .top-row .pricing {
  display: flex;
  gap: 8px;
}
.shop-card-contents .top-row .pricing-discount {
  color: #D23738;
  font-weight: 500;
}
.shop-card-contents .top-row .pricing-regular {
  text-decoration: line-through 1px;
  color: #6D7278;
}
.shop-card-contents .bottom-row {
  width: 100%;
}
.shop-card .shop-cta {
  width: 100%;
  margin-top: 32px;
}
.shop img {
  width: 100%;
  margin-bottom: 8px;
}

.hiw {
  width: 100%;
  height: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  background: #AE7008;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.hiw-header {
  text-align: center;
  color: white;
  margin-bottom: 32px;
}
.hiw-header .body {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: baseline;
}
.hiw-wrapper {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  gap: 20px;
  margin-top: 32px;
  margin-left: 10%;
  margin-right: 10%;
}
.hiw-wrapper-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 100%;
  text-align: center;
  color: white;
}
.hiw-wrapper-card .font-medium {
  text-transform: capitalize;
  margin-bottom: 8px;
}
.hiw-wrapper-card .copy-small {
  padding-left: 10px;
  padding-right: 10px;
}
.hiw-wrapper-card img {
  width: 100%;
  margin-bottom: 32px;
}
.hiw .shop-cta {
  margin-top: 50px;
}

.holiday {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  background: url(./assets/holiday_photo.png);
  background-size: cover;
  color: white;
}
.holiday .font-large {
  text-transform: capitalize;
}
.holiday .learn-cta {
  margin-top: 32px;
}

.media {
  width: 100%;
  height: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  text-align: center;
  text-transform: capitalize;
}
.media-wrapper {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  gap: 20px;
  margin-top: 32px;
}
.media-wrapper-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 100%;
}
.media-wrapper-card img {
  width: 100%;
  transform: scale(0.75);
}
.media-wrapper-card .copy-small {
  color: #6D7278;
}
.media-wrapper-card .learn-cta {
  color: #6D7278;
}
.media-wrapper-card .font-large, .media-wrapper-card .font-medium {
  color: #15171A;
}

.footer {
  width: inherit;
  height: 600px;
  background-color: #FFF9E7;
}/*# sourceMappingURL=main.css.map */